/* resources */
    
    /* Font styles

    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Average Sans', sans-serif;

    */

    /* Colors
    
    ==== Font Colors ==================
            heavy font color:   #404040
            light font color:   #808080
    ===================================

    ==== Section Colors ===============
            Background:         #ffffff
            Jumbotron:          #f1f4f5
            Footer:             #2d2d30
    ===================================

    ==== Accessorie Colors ============
            button color:       #ef5f60
    ==================================
   
    */


/* 
====================
=== Global Style ===
====================
*/


body {
    font-family: 'Average Sans', sans-serif;
    color: #808080;
}

h3 em {
    color: #ef5f60;
}

/* 
====================
=== Header style ===
====================
*/

nav, nav ul li a {
    font-family: 'Barlow Condensed', sans-serif;
    color: #404040;
    font-weight: 550;
    text-transform: uppercase;
    background-color: #ffffff;
    display: block;
}
nav ul li a:hover {
    color: #808080;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#32404040' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: #32404040;
} 

/* 
=====================
=== Welcome Style ===
=====================
*/

.jumbotron h1 {
    color: #404040;
    font-family: 'Barlow Condensed', sans-serif;
}

/* 
=======================
=== Portfolio Style ===
=======================
*/

.portfolio-filter {
    font-family: 'Barlow Condensed', sans-serif;
    padding: 10px 0;
}

.portfolio-filter button {
    background-color: #ef5f60;
    color: #ffffff;
    border-radius: 0;
}

.portfolio-container {
    padding: 10px 0;
}

.portfolio-container .img-fluid {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.recruit-container {
    padding: 10px 0;
    font-family: 'Barlow Condensed', sans-serif;
    
}

.recruit-container h3 {
    color: #404040;
}

.recruit-container button {
    color: #ffffff;
    background-color: #ef5f60;
    
}
/* 
======================
=== Services Style ===
======================
*/




/* 
=====================
=== Journal Style ===
=====================
*/



/* 
====================
=== Footer Style ===
====================
*/