/* resources */
    
    /* Font styles

    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Average Sans', sans-serif;

    */

    /* Colors
    
    ==== Font Colors ====
            heavy font color:   #404040
            light font color:   #808080
    =====================

    ==== Section Colors ====
        Background:         #ffffff
        Jumbotron:          #f1f4f5
        Footer:             #2d2d30
    ========================

    ==== Accessorie Colors ====
        button color:       #ef5f60
    ===========================
   
    */

    
    /* 
    ====================
    === Header style ===
    ====================
    */




    /* 
    =====================
    === Welcome Style ===
    =====================
    */


    /* 
    =======================
    === Portfolio Style ===
    =======================
    */



    /* 
    ======================
    === Services Style ===
    ======================
    */




    /* 
    =====================
    === Journal Style ===
    =====================
    */



    /* 
    ====================
    === Footer Style ===
    ====================
    */